body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image:url(image/bg.jpg);
    background-repeat: repeat-y;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body h1{
    font-size: 40px;
    color: white;
    font-weight: 600;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-gap: 10px;
    justify-content: center;
    margin-top: 20px;
    padding: 20px;
    border-radius: 12px;
    backdrop-filter: blur(2px);
    border: 1px solid whitesmoke;
    background: rgb(255,255,255,0.2);
}

.card {
    width: 90px;
    height: 146px;
    background-image: url(image/backcover.jpg);
    background-position: 100%;
    cursor: pointer;
    position: relative;
    transform: perspective(600px) rotateY(180deg);
    transition: transform 0.3s;
    border-radius: 12px;
}

.card img {
    display: none;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    object-fit: cover;
}

.card.flipped {
    background-color: white;
    transform: perspective(600px) rotateY(360deg);
}

.card.flipped img {
    display: block;
}

body p{
    color: white;
    font-size: 20px;
    font-weight: 500;
}


@media only screen and (max-width: 600px) {
    #game-board{
        grid-template-columns: repeat(4, 60px);
        grid-gap: 20px;
        
    }
    .card {
        width: 70px;
        height: 114px;
        border-radius: 10px;
    }
}
